.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: #0f0e17;
    color: #a7a9be;
    padding: 24px 16px;
  }
  
  .navbar .brand {
    font-size: 2xl;
    margin-bottom: 32px;
    font-weight: bold;
  }
  
  .navbar .nav-link {
    padding: 8px 12px;
    border-radius: 4px;
    width: 100%;
    text-decoration: none;
    color: #a7a9be;
  }
  
  .navbar .nav-link:hover {
    background-color: #4A5568; /* gray.700 */
  }
  
  .navbar .logout {
    margin-top: auto;
  }  